@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Roboto:ital,wght@0,300;0,400;1,500&display=swap');
:root {
    font-size: 14px;    
    font-family: 'Roboto', sans-serif;    
}

body {
    margin: 0;    
    padding: 0;    
}

header {             
    background-color: white;
    font-size: 14px;
    
}

.menu-principal {
    display: flex;
    justify-content: flex-end;    
    margin-top: 10px;    
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.menu-principal a{    
    text-decoration: none;
    color: black;
    margin-right: 10px;
}

.menu-principal a:hover {
    text-decoration: underline;
}

nav {
    background-color: #2deee5;
}

aside {
    background-color: #fdcef8;
}

footer {    
    margin-top: 16%;    
}

.middle {
    display: flex;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

aside, nav {
    flex: 1;
}

main {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    height: 500px;
}

@media (max-width: 600px) {
    .middle {
        flex-direction: column;        
    }      
}

.menu {            
    width: 40px;
    height: 40px;
    border-radius: 50%;  
    margin-left: 10px;   
}

.dot-menu{
    margin-top: 10px;
    margin-left: 10px;    
    width: 20px;
    height: 20px;
}

.img-profile {
    margin-top: 2px;
    margin-left: 2px;    
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.menu:hover {        
    background-color: #efefef;
}

.img-google img{
    margin-top: 90px;
    margin-bottom: 0px;
    margin-left: 43%;
    width: 15%;
    height: 10%px;
}

.input-search {
    margin-left: -420px;
}
.input-search input{
    margin-top: 14%;
    width: 350%;
    height: 3rem;
    border-radius: 25px;
    border: 1px solid;
    border-color:#fdcef8;
    outline: none; 
    text-align: center;
}

.input-search input:hover {    
    box-shadow: 1px 4px #2deee5;
}

.input-search input[type=search]:focus {    
    border: 1px solid;
    border-color:#fdcef8;
}

.searchIcon {    
    width: 15px;
    height: 15px;
    position: absolute;
    margin-top: -30px;
    margin-left: 15px;    
    filter: brightness(120%);
}

.voiceIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: -30px;
    margin-left: 580px;    
    filter: brightness(120%);
}

.button-google {
    margin-top: 30px;    
}

.button-google button {
    margin-left: 10px;
    height: 37px;
    width: 130px;
    background-color: #f8f9fa;
    border: none;
    font-size: 14px;
}

.button-google button:hover {
    cursor: pointer;
    border: 1px solid #9ab4ceb7;
}
/************************************************          Footer        ************************************************/
.pais {
    font-size: 15px;
    height: 40px;
    display: flex;
    align-items: center; 
    color: #70757a;
    border-bottom: 1px solid #dadce0;
    background-color: #f2f2f2;
}

.sobre-google {    
    display: flex;
    align-items: center;
    font-size: 15px;
    height: 40px;    
    border-bottom: 1px solid #dadce0;
    background-color: #f2f2f2;    
}

.sobre-google a {
    color: #70757a;
    text-decoration: none;
    margin-left: 20px;    
}

.sobre-google a:hover {
    text-decoration: underline;
}

.privacidad {
    display: flex;
    margin-left: 15%;
}

.menu-footer {
    display: flex;
    margin-right: 35%;
}

.etiqueta-sobre {
    width: 125px;
    margin-right: 0;
}

.etiqueta{
    width: 100px;
    margin-right: 0;
}

.etiqueta-busqueda {
    width: 220px;
}

@media (max-width:600px) {
    footer {
        margin-top: 50%;        
    }

    .sobre-google {
        height: 50px;
        flex-direction: column;
    }       

    .input-search input{
        margin-left: 60%;
        width: 350px;
    }

    .searchIcon {        
    margin-top: -30px;
    margin-left: 220px;   
    }

    .voiceIcon {             
        margin-top: -30px;
        margin-left: 530px;            
    }

    .menu-footer {
        display: block;   
        margin-right: 0;                  
    }     

    .sobre-google {        
        flex-direction: column;
        margin-left: 0;
        font-size: 12px;
    }

    .privacidad {        
        display: block;
        font-size: 12px;
    }

    .sobre-google a {        
        margin-left: 10px;    
    }
    
    .pais {
        justify-content: center;
        font-size: 12px;
    }

    .img-google img{        
        width: 220px;
        height: 110px;
        margin-left: 0;
    }
}